# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
mcmodsrepo

#vscode
.vscode

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
logs
# other
eclipse
run

# Files from Forge MDK
build.bat
